/* ===== object / project / _contact.scss ===== */
@use "../../foundation/vars" as v;
@use "../../foundation/mixin" as m;

.p-contact {
  margin-bottom: 200px;
  text-align: center;

  &__heading {
    margin-bottom: v.$space-section-heading-margin-bottom;
  }

  &__list {
    display: grid;
    row-gap: 20px;
  }

  &__link {
    position: relative;
    display: grid;
    place-items: center;
    width: 400px;
    height: 80px;
    max-width: 100%;
    margin-inline: auto;
    border: 1px solid v.$color-border-muted;
    transition: opacity 0.3s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 48px;
      right: -80px;
      height: 1px;
      background-color: currentColor;
      transition: transform 0.3s ease;

      @include m.mq-sp {
        display: none;
      }
    }

    &::before {
      width: 120px;
    }

    &::after {
      width: 15px;
      transform: rotate(25deg);
      transform-origin: right center;
    }

    @include m.hover {
      opacity: 0.7;

      &::before {
        transform: translateX(10px);
      }

      &::after {
        transform: translateX(10px) rotate(25deg);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      transition: none;

      &::before,
      &::after {
        transition: none;
      }

      @include m.hover {
        // PRM時は矢印の移動を無効化
        &::before {
          transform: none;
        }

        &::after {
          transform: rotate(25deg);
        }
      }
    }
  }
}